{% extends 'base.html.twig' %}

{% block title %}{{'title_medicine_edit'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_medicine_edit'|trans}}</h1>

    {{ include('medicine/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('medicine_index') }}">{{'back to list'|trans}}</a>

    {{ include('medicine/_delete_form.html.twig') }}
{% endblock %}
