{% extends 'base.html.twig' %}

{% block title %}{{'title_medicine_list'|trans}}{% endblock %}

{% block body %}

    <div class="form-row">
    
        <div class="col-sm-3">
        {% if name is defined %}
            
        {% else %}
                    <div class="d-flex justify-content-center">
                        <p>Wyszukujesz: </p> 
                    </div>
        {% endif %}
        </div>
        <div class="col-sm-6">

                <form class="d-flex justify-content-center align-items-center" method="GET">

                <input class= "form-control" type="text" name="name" placeholder="Opisz, co Ci dolega lub wyszukaj lek">
                <button id="search" class="btn btn-primary">
                    {{ 'action_search' | trans }}
                </button>
                <br>
                </form>

        </div>
        <div class="col-sm-3">
                
        </div>
    </div>



    </div>
    <br>
    {# <table class="table">

        <tbody>
        {% for medicine in medicines %}
            <tr>
                <td>
                    <a href="{{ path('medicine_show', {'id': medicine.id}) }}">{{ medicine.name }}</a>
                </td>
                <td>
                    <a href="{{ path('favourites_new', {'id': medicine.id}) }}"><i class="fa fa-fw fa-heart"></i></a>
                </td>
                <td>
                    <a href="{{ path('opinion_new', {'id': medicine.id}) }}">{{'action_add_opinion'|trans}}</a>
                </td>
                <td>
                    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('medicine_show', {'id': medicine.id}) }}">{{'action_show'|trans}}</a>
                    <a href="{{ path('medicine_edit', {'id': medicine.id}) }}">{{'action_edit'|trans}}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{'label_no_records_found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}


    <div id="index_lekow" class="row">
        <table class="table">
            <tbody>

            {% for medicine in medicines %}
                       
                        <div class="col-sm-4 leki">
                            <br>
                            <a class="d-flex justify-content-center" href="{{ path('medicine_show', {'id': medicine.id}) }}">{{ medicine.name }}</a>
                            <a class="d-flex justify-content-center" href="{{ path('favourites_new', {'id': medicine.id}) }}"><i class="fa fa-fw fa-heart"></i></a>
                            <br>
                            <a class="d-flex justify-content-center" href="{{ path('opinion_new', {'id': medicine.id}) }}">{{'action_add_opinion'|trans}}</a>
                            <br>
                        </div>
                        
            {% endfor %}

            </tbody>
        </table>
    </div>



    <div class="navigation">
        {{ knp_pagination_render(medicines) }}
    </div>
    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
    <a href="{{ path('medicine_new') }}">{{'action_create_new'|trans}}</a>

    {% endif %}

{% endblock %}
