{% extends 'base.html.twig' %}

{% block title %}{{'Edit Favourites'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Favourites'|trans}}</h1>

    {{ include('favourites/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('favourites_index') }}">{{'back to list'|trans}}</a>

    {{ include('favourites/_delete_form.html.twig') }}
{% endblock %}
