{% extends 'base.html.twig' %}

{% block title %}Favourites index{% endblock %}

{% block body %}
    <h1>Favourites index</h1>

    <table class="table">
        <thead>
            <tr>
                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                {% endif %}

                <th>Favourites</th>
            </tr>
        </thead>
        <tbody>
        {% for favourite in favourites %}
            <tr>
                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <td>{{ favourite.id }}</td>
                {% endif %}



                <td> <a href="{{ path('medicine_show', {'id': favourite.medicine.id}) }}">{{ favourite.medicine.name }}</a></td>
                <td>
                    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('favourites_show', {'id': favourite.id}) }}">show</a>
                    <a href="{{ path('favourites_edit', {'id': favourite.id}) }}">edit</a>
                    {% endif %}
                    {{ include('favourites/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
