{% extends 'base.html.twig' %}

{% block title %}{{'title_favourites_list'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_favourites_list'|trans}}</h1>

     <div id="index_lekow" class="row">
        <table class="table">
            <tbody>

            {% for favourite in favourites %}
                       
                        <div class="col-sm-4 leki">
                            <p>
                            <a class="d-flex justify-content-center" href="{{ path('medicine_show', {'id': favourite.medicine.id}) }}">{{ favourite.medicine.name }}</a>
                            <a class="d-flex justify-content-center" href="{{ path('favourites_new', {'id': favourite.medicine.id}) }}"><i class="fa fa-fw fa-heart"></i></a>
                            </p>
                            <p>
                            <a class="d-flex justify-content-center" href="{{ path('opinion_new', {'id': favourite.medicine.id}) }}">{{'action_add_opinion'|trans}}</a>
                            </p>
                        </div>
                        
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}
