{% extends 'base.html.twig' %}

{% block title %}{{'title_favourites_new'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_favourites_new'|trans}}</h1>

    {{ include('favourites/_form.html.twig') }}

    <a href="{{ path('favourites_index') }}">{{'action_back_to_list'|trans}}</a>
{% endblock %}
