{% extends 'base.html.twig' %}

{% block title %}{{'New Favourites'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new Favourites'|trans}}</h1>

    {{ include('favourites/_form.html.twig') }}

    <a href="{{ path('favourites_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
