{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Disease'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Disease'|trans }}</h1>

    {{ include('disease/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('disease_index') }}">{{'back to list'|trans}}</a>

    {{ include('disease/_delete_form.html.twig') }}
{% endblock %}
