{% extends 'base.html.twig' %}

{% block title %}{{'Disease index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Disease index'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(diseases, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(diseases, 'Name', 'name') }}</th>

                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <th>{{'actions'|trans}}</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for disease in diseases %}
            <tr>
                <td>{{ disease.id }}</td>
                <td><a href="{{ path('disease_show', {'id': disease.id}) }}">{{ disease.name }}</td>

                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('disease_show', {'id': disease.id}) }}">{{'show'|trans}}</a>
                    <a href="{{ path('disease_edit', {'id': disease.id}) }}">{{'edit'|trans}}</a>
                </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
    <a href="{{ path('disease_new') }}">{{'Create new'|trans}}</a>
    {% endif %}
{% endblock %}
