{% extends 'base.html.twig' %}

{% block title %}{{'title_disease_list'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_disease_list'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(diseases, 'label_id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(diseases, 'label_name', 'name') }}</th>

                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <th>{{'label_actions'|trans}}</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for disease in diseases %}
            <tr>
                <td>{{ disease.id }}</td>
                <td><a href="{{ path('disease_show', {'id': disease.id}) }}">{{ disease.name }}</td>

                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('disease_show', {'id': disease.id}) }}">{{'action_show'|trans}}</a>
                    <a href="{{ path('disease_edit', {'id': disease.id}) }}">{{'action_edit'|trans}}</a>
                </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'label_no_records_found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
    <a href="{{ path('disease_new') }}">{{'action_create_new'|trans}}</a>
    {% endif %}
{% endblock %}
