{% extends 'base.html.twig' %}

{% block title %}{{'title_disease_new'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_disease_new'|trans}}</h1>

    {{ include('disease/_form.html.twig') }}

    <a href="{{ path('disease_index') }}">{{'action_back_to_list'|trans}}</a>
{% endblock %}
