{% extends 'base.html.twig' %}

{% block title %}{{'New Disease'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new Disease'|trans}}</h1>

    {{ include('disease/_form.html.twig') }}

    <a href="{{ path('disease_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
