{% extends 'base.html.twig' %}

{% block title %}{{'Disease'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Disease'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disease.id }}</td>
            </tr>

            <tr>
                <th>{{'Name'|trans}}</th>
                <td>{{ disease.name }}</td>
            </tr>
            <tr>
                <th>{{'Medicine'|trans}}</th>
                <td>
                    {% for user in disease.medicines %}
                        <li>{{ user.name }}</li>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('disease_index') }}">{{'back to list'|trans}}</a>

    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
    <a href="{{ path('disease_edit', {'id': disease.id}) }}">edit</a>
    {{ include('disease/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
