{% extends 'base.html.twig' %}

{% block title %}Opinion index{% endblock %}

{% block body %}
    <h1>Opinion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Rating</th>
                <th>Medicine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opinion in opinions %}
            <tr>
                <td>{{ opinion.id }}</td>
                <td>{{ opinion.content }}</td>
                <td>{{ opinion.rating }}</td>
                <td>{{ opinion.medicine.name }}</td>
                <td>
                    <a href="{{ path('opinion_show', {'id': opinion.id}) }}">show</a>
                    <a href="{{ path('opinion_edit', {'id': opinion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
