{% extends 'base.html.twig' %}

{% block title %}{{'New Opinion'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new Opinion'|trans}}</h1>

    {{ include('opinion/_form.html.twig') }}

    <a href="{{ path('opinion_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
