{% extends 'base.html.twig' %}

{% block title %}{{'title_opinion_new'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_opinion_new'|trans}}</h1>

    {{ include('opinion/_form.html.twig') }}

    <a href="{{ path('opinion_index') }}">{{'label_back_to_list'|trans}}</a>
{% endblock %}
