{% extends 'base.html.twig' %}

{% block title %}{{'title_opinion_show'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_opinion_show'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'label_id'|trans}}</th>
                <td>{{ opinion.id }}</td>
            </tr>
            <tr>
                <th>{{'label_content'|trans}}</th>
                <td>{{ opinion.content }}</td>
            </tr>
            <tr>
                <th>{{'label_rating'|trans}}</th>
                <td>{{ opinion.rating }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('opinion_index') }}">{{'action_back_to_list'|trans}}</a>

    <a href="{{ path('opinion_edit', {'id': opinion.id}) }}">{{'action_edit'|trans}}</a>

    {{ include('opinion/_delete_form.html.twig') }}
{% endblock %}
