{% extends 'base.html.twig' %}

{% block title %}{{'Edit Substance'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Substance'|trans}}</h1>

    {{ include('substance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('substance_index') }}">{{'back to list'|trans}}</a>

    {{ include('substance/_delete_form.html.twig') }}
{% endblock %}
