{% extends 'base.html.twig' %}

{% block title %}{{'title_substane_edit'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_substane_edit'|trans}}</h1>

    {{ include('substance/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('substance_index') }}">{{'action_back_to_list'|trans}}</a>

    {{ include('substance/_delete_form.html.twig') }}
{% endblock %}
