{% extends 'base.html.twig' %}

{% block title %}Substance index{% endblock %}

{% block body %}
    <h1>Substance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>

                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for substance in substances %}
            <tr>
                <td>{{ substance.id }}</td>
                <td><a href="{{ path('substance_show', {'id': substance.id}) }}">{{ substance.name }}</td>

                {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('substance_show', {'id': substance.id}) }}">show</a>
                    <a href="{{ path('substance_edit', {'id': substance.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
    <a href="{{ path('substance_new') }}">Create new</a>
    {% endif %}
{% endblock %}
