{% extends 'base.html.twig' %}

{% block title %}Substance index{% endblock %}

{% block body %}
    <h1>Substance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for substance in substances %}
            <tr>
                <td>{{ substance.id }}</td>
                <td>{{ substance.name }}</td>
                <td>
                    <a href="{{ path('substance_show', {'id': substance.id}) }}">show</a>
                    <a href="{{ path('substance_edit', {'id': substance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('substance_new') }}">Create new</a>
{% endblock %}
