{% extends 'base.html.twig' %}

{% block title %}{{'New Substance'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new Substance'|trans}}</h1>

    {{ include('substance/_form.html.twig') }}

    <a href="{{ path('substance_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
