{% extends 'base.html.twig' %}

{% block title %}{{'title_substane_new'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_substane_new'|trans}}</h1>

    {{ include('substance/_form.html.twig') }}

    <a href="{{ path('substance_index') }}">{{'action_back_to_list'|trans}}</a>
{% endblock %}
