<div id="menu" class="row">
    <div class="col-sm-4">
        <nav class="navbar">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            
                {% if app.user is defined and not app.user%}

                    <span>
                        <a href="{{ path('app_login') }}">
                            {{ 'action_login'|trans }}
                        </a>
                    </span>
                    <span>    
                        <a href="{{ path('user_new') }}">
                            {{ 'action_register'|trans }}
                        </a>
                    </span>

                {% endif %}

            {# <a href="#">Kontakt</a> #}
            {% if app.user is defined and is_granted('ROLE_USER') %}
                <a href="{{ path('favourites_index') }}">{{'label_favourites'|trans}}</a>
                <a href="{{ path('opinion_index') }}">{{'label_opinions'|trans}}</a>
                <a href="{{ path('user_edit', {'id':app.user.id}) }}">Konto</a>
            {% endif %}

            {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_index') }}">{{'label_users'|trans}}</a>
                <a class="nav-link" href="{{ path('substance_index') }}">{{'label_substances'|trans}} <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="{{ path('disease_index') }}">{{'label_diseases'|trans}} <span class="sr-only">(current)</span></a>
            {% endif %}

        </div>
            <span onclick="openNav()"><a href="#"><i class="fa fa-fw fa-navicon"></i>Menu</a></span>
    </div>
    
    <div class="col-sm-4">
        <nav class="navbar d-flex justify-content-center">
        <div class"d-flex justify-content-center">
            <span class=""><a href="{{ path('medicine_index') }}">{{'label_home'|trans}}</a></span>
        </div>
    </div>
   
    <div class="col-sm-2">
        <nav class="navbar d-flex justify-content-center">
        <div class="ml-auto">
                    {% if app.user is defined and not app.user%}
                        <span>
                            <a href="{{ path('app_login') }}">
                                {{ 'action_login'|trans }}
                            </a>
                        </span>
                    {% endif %}
        </div>
    </div>
        <div class="col-sm-2">
        <nav class="navbar">
                    {% if app.user is defined and app.user%}
                        {# <span>{{ app.user.nick|default('') }}</span> #}
                        <span>
                            <a href="{{ path('app_logout') }}">
                                {{ 'action_logout'|trans }}
                            </a>
                        </span>
                    {% else %}
                    <span>    
                        <a href="{{ path('user_new') }}">
                            {{ 'action_register'|trans }}
                        </a>
                    </span>
                {% endif %}
        </div>
    </div>
</div>


    <!-- Use any element to open the sidenav -->
   

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    {# <div id="main">
    ...
    </div> #}
    


    {# <a class="navbar-brand" href="{{ path('medicine_index') }}">{{'label_home'|trans}}</a> #}



    {# <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            {% if app.user is defined and is_granted('ROLE_ADMIN') %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('user_index') }}">{{'label_users'|trans}} <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('substance_index') }}">{{'label_substances'|trans}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('disease_index') }}">{{'label_diseases'|trans}} <span class="sr-only">(current)</span></a>
            </li>

            {% if app.user is defined and is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('favourites_index') }}">{{'label_favourites'|trans}} <span class="sr-only">(current)</span></a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('opinion_index') }}">{{'label_opinions'|trans}} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_edit', {'id':app.user.id}) }}">{{'label_edit_account'|trans}} <span class="sr-only">(current)</span></a>
                </li>

            {% endif %} #}
       
    </div>
</nav>
