<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <a class="navbar-brand" href="{{ path('medicine_index') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            {% if app.user is defined and is_granted('ROLE_ADMIN') %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('user_index') }}">Users <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('substance_index') }}">Substances <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('disease_index') }}">Diseases <span class="sr-only">(current)</span></a>
            </li>

            {% if app.user is defined and is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('favourites_index') }}">Favourites <span class="sr-only">(current)</span></a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('opinion_index') }}">Opinions <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_edit', {'id':app.user.id}) }}">Edit_account <span class="sr-only">(current)</span></a>
                </li>

            {% endif %}
        </ul>
        <div class="ml-auto">
            {% if app.user is defined and app.user%}
                <span>{{ app.user.nick|default('') }}</span>
                <span>
                    <a href="{{ path('app_logout') }}">
                        {{ 'logout'|trans }}
                    </a>
                </span>
            {% else %}
                <span>
                    <a href="{{ path('app_login') }}">
                        {{ 'login'|trans }}
                    </a>
                    <a href="{{ path('user_new') }}">
                        {{ 'register'|trans }}
                    </a>
                </span>
            {% endif %}
        </div>
    </div>
</nav>
