{% extends 'base.html.twig' %}

{% block title %}{{'title_user_list'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_user_list'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'label_id'|trans}}</th>
                <th>{{'label_nick'|trans}}</th>
                <th>{{'label_email'|trans}}</th>
                <th>{{'label_roles'|trans}}</th>
                <th>{{'label_password'|trans}}</th>
                <th>{{'label_actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nick }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{'action_show'|trans}}</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">{{'action_edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{'label_no_records_found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">{{'action_create_new'|trans}}</a>
{% endblock %}
