{% extends 'base.html.twig' %}

{% block title %}{{'New User'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new User'|trans}}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
