{% extends 'base.html.twig' %}

{% block title %}{{'title_user_show'|trans}}{% endblock %}

{% block body %}
    <h1>{{'title_user_show'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{'label_email'|trans}}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{'label_roles'|trans}}</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>{{'label_password'|trans}}</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">{{'action_back_to_list'|trans}}</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">{{'action_edit'|trans}}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
